{% extends 'base.html.twig' %}

{% block title %}Atencion index{% endblock %}

{% block body %}
    <h1>Atencion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Comensales</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for atencion in atencions %}
            <tr>
                <td>{{ atencion.id }}</td>
                <td>{{ atencion.inicio ? atencion.inicio|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ atencion.fin ? atencion.fin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ atencion.comensales }}</td>
                <td>
                    <a href="{{ path('app_atencion_show', {'id': atencion.id}) }}">show</a>
                    <a href="{{ path('app_atencion_edit', {'id': atencion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_atencion_new') }}">Create new</a>
{% endblock %}
