{% extends 'base.html.twig' %}

{% block title %}Atencion{% endblock %}

{% block body %}
    <h1>Atencion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atencion.id }}</td>
            </tr>
            <tr>
                <th>Inicio</th>
                <td>{{ atencion.inicio ? atencion.inicio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ atencion.fin ? atencion.fin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comensales</th>
                <td>{{ atencion.comensales }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_atencion_index') }}">back to list</a>

    <a href="{{ path('app_atencion_edit', {'id': atencion.id}) }}">edit</a>

    {{ include('atencion/_delete_form.html.twig') }}
{% endblock %}
