{% extends 'base.html.twig' %}

{% block title %}PlatoPrincipal index{% endblock %}

{% block body %}
    <h1>PlatoPrincipal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plato_principal in plato_principals %}
            <tr>
                <td>{{ plato_principal.id }}</td>
                <td>{{ plato_principal.nombre }}</td>
                <td>{{ plato_principal.precio }}</td>
                <td>{{ plato_principal.descripcion }}</td>
                <td>
                    <a href="{{ path('app_plato_principal_show', {'id': plato_principal.id}) }}">show</a>
                    <a href="{{ path('app_plato_principal_edit', {'id': plato_principal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_plato_principal_new') }}">Create new</a>
{% endblock %}
