{% extends 'base.html.twig' %}

{% block title %}PlatoPrincipal{% endblock %}

{% block body %}
    <h1>PlatoPrincipal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plato_principal.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ plato_principal.nombre }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ plato_principal.precio }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ plato_principal.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_plato_principal_index') }}">back to list</a>

    <a href="{{ path('app_plato_principal_edit', {'id': plato_principal.id}) }}">edit</a>

    {{ include('plato_principal/_delete_form.html.twig') }}
{% endblock %}
