{% extends 'base.html.twig' %}

{% block title %}PedidoItem index{% endblock %}

{% block body %}
    <h1>PedidoItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido_item in pedido_items %}
            <tr>
                <td>{{ pedido_item.id }}</td>
                <td>{{ pedido_item.cantidad }}</td>
                <td>
                    <a href="{{ path('app_pedido_item_show', {'id': pedido_item.id}) }}">show</a>
                    <a href="{{ path('app_pedido_item_edit', {'id': pedido_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pedido_item_new') }}">Create new</a>
{% endblock %}
