{% extends 'base.html.twig' %}

{% block title %}PedidoItem{% endblock %}

{% block body %}
    <h1>PedidoItem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pedido_item.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ pedido_item.cantidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pedido_item_index') }}">back to list</a>

    <a href="{{ path('app_pedido_item_edit', {'id': pedido_item.id}) }}">edit</a>

    {{ include('pedido_item/_delete_form.html.twig') }}
{% endblock %}
